body{
    text-align: center; 
    background-color: white;
    overflow-x:hidden ;
}
h3{
       font-weight: bold;
       font-size: 33px;
       color:white;
       text-align: left;
       background-color: #05386B;
       width: 200px;
       padding: 5px;
}
li{
       font-size : 31px;
       color: #05386B;
       
}
      
h1{
       font-size: 50px;
       background-color:#05386B;
       font-family: Copperplate Gothic;
       color: #5CDB95;
       width: 500px;
       margin-left:400px;
       margin-top: 20px;
}
p{
    font-weight: bold;
    font-size: 24px;
    font-family: Kristen ITC;
    padding-left: 20px;
    padding-right: 20px;
    color: darkmagenta;
}
#custom{
    margin-right: 0px;
}
#custom1{
    margin-right: 600px;
}
#cilia{
    width: 275px;
}
#golgi{
    width: 240px;
}
#er{
    width:430px;
}
#v{
    width:130px;
}
img{
    width: 45%;
    height: 140px;

}
#main{
    margin-left: 600px;
    margin-top: -1950px;
    height: 550px;

}
